[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
mysqlclient = "*"
django-environ = "*"
pillow = "*"
dj-rest-auth = "*"
djangorestframework-simplejwt = "*"
django-cors-headers = "*"

[dev-packages]

[requires]
python_version = "3.8"
